body {
    font-family: 'Roboto', sans-serif;
}


.tarjeta {
    height: 80px !important;
    width: 160px;
    text-align: center;
    background-color: #eaedf2;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 992px) {
    .tarjeta {
        font-size: 11px;
        height: 42px !important;
        width: 86px;
        text-align: center;
        background-color: #eaedf2;
    }

    .row {
        margin-bottom: 5px !important;
    }
}

@media screen and (max-width: 600px) {
    .tarjeta {
        font-size: 5px;
        height: 8px !important;
        width: 16px;
        text-align: center;
        background-color: #eaedf2;
    }

    .row {
        margin-bottom: 5px !important;
    }
}

.trj-oculta {
    background-color: #eaedf2;
}

.trj-visible {
    pointer-events: none;
}

.trj-visible-azul {
    background-color: #4286f4;
}

.trj-visible-roja {
    background-color: #f44242;
}

.trj-visible-x {
    background-color: black;
    color: white;
}

.trj-visible-neutra {
    background-color: blanchedalmond;
}

.trj-espia {
    pointer-events: none;
}

.trj-espia-azul {
    color: #4286f4;
    font-weight: bold;
}

.trj-espia-roja {
    color: #f44242;
    font-weight: bold;
}

.trj-espia-x {
    background-color: #c6c6c6;
    font-weight: bold;
}

.puntos-rojo {
    color: #f44242;
    font-weight: bold;
}

.puntos-azul {
    color: #4286f4;
    font-weight: bold;
}

.grit {
    -webkit-mask-image: url("img/grit.png");
    mask-image: url("img/grit.png");
}

.paper-raise:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.paper-raise:hover:before {
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}

.butn {
    position: relative;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transform-style: flat;
    transition: all 250ms ease-out;
}
.butn:before, .btn:after {
    content: "";
    position: absolute;
    z-index: -2;
    transition: all 250ms ease-out;
}

.paper {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
    border-color: #dedede;
}